.bottom-panel {
    margin-top: 20px;
    position: relative;
  }
  
  .bottom-panel .new-post-label {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
  }
  .btn{
    position: absolute;
    top: 0;
    right: 0;
  }